In [1]:
#import dependencies

from bs4 import BeautifulSoup as bs
import requests
import pandas as pd

In [2]:
# URL of the page to be scraped

url = "https://www.canada.ca/en/services/benefits/ei/claims-report.html"

#Retrieve webpage with the requests module

response = requests.get(url)

In [3]:
#Create a BeautifulSoup object, parse with 'html.parser'

soup = bs(response.text, 'html.parser')

In [4]:
#Retrieve the webscript section for the table that contains province/gender info

results = soup.find_all("table", class_="table table-bordered table-striped text-right")

In [5]:
#convert table codes into html string

html_string = str(f"""{results}""")

In [6]:
#Using pandas to read html strings and convert them into a datafram

cerb_df = pd.read_html(html_string)[0]

In [7]:
#Removing multiple index levels in the original dataframe
cerb_df.columns = ['Provinces & Territories', 'Female gender Number','Female gender pct',
       'Male gender Number','Male gender pct','Gender diverse Number','Gender diverse pct','Total Number', "Total pct"]

In [8]:
#Changing names of columns and formatting cerb_df 
cerb_df = cerb_df[['Provinces & Territories', 'Female gender Number', 
                   'Male gender Number','Gender diverse Number','Total Number']]
cerb_df = cerb_df.rename(columns = {
    'Provinces & Territories':'provinces',
    'Female gender Number':'female_gender_number',
    'Male gender Number':"male_gender_number",
    'Gender diverse Number':'gender_diverse_number',
    'Total Number':'total_number'
})
cerb_df = cerb_df.drop(index=15)
cerb_df

,provinces,female_gender_number,male_gender_number,gender_diverse_number,total_number
0,Newfoundland and Labrador,57460,63770,30,121270
1,Prince Edward Island,17860,18180,20,36050
2,Nova Scotia,105190,109250,110,214550
3,New Brunswick,83170,84120,70,167360
4,Quebec,913020,1113840,440,2027300
5,Ontario,1735440,1781030,1920,3518390
6,Manitoba,139580,138680,100,278360
7,Saskatchewan,118910,122660,70,241650
8,Alberta,529100,542060,280,1071450
9,British Columbia,602820,583010,460,1186290
10,Yukon,4400,4760,0,9160
11,Northwest Territories,5420,6460,10,11890
12,Nunavut,4810,5200,0,10020
13,Not Applicable,1560,2640,1170,5370
14,Unknown,30,50,0,80

# Load dataframe to SQL

In [9]:
# import dependencies

import sqlalchemy
from sqlalchemy import create_engine
import psycopg2

In [10]:
#Creating an engine and connect to postgres SQL server

engine = create_engine("postgresql://cggjytcd:2Lf6GkD0Cb8TbV6e4-X7ZBCvNMh_zV3F@raja.db.elephantsql.com:5432/cggjytcd")

#Load database to SQL

cerb_df.to_sql(name='cerb',con=engine, if_exists='replace', index=False)