### This is the ETL process of COVID-19 Global cases and Canadian cases by province from Johns Hopkins

In [1]:
#Importing the required Dependencies

import os
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sqlalchemy import create_engine

In [2]:
#Importing the csv files from John Hopkins Repository on COVID 19
csvpath= os.path.join("Resources", "time_series_covid19_confirmed_global.csv")

#Reading the csv file
cases_df = pd.read_csv(csvpath, encoding="utf-8" )
cases_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/2/20,12/3/20,12/4/20,12/5/20,12/6/20,12/7/20,12/8/20,12/9/20,12/10/20,12/11/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,46718,46837,46837,47072,47306,47516,47716,47851,48053,48116
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,39719,40501,41302,42148,42988,43683,44436,45188,46061,46863
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,85084,85927,86730,87502,88252,88825,89416,90014,90579,91121
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,6842,6904,6955,7005,7050,7084,7127,7162,7190,7236
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,15319,15361,15493,15536,15591,15648,15729,15804,15925,16061

### Canadian COVID-19 Cases by Province

In [3]:
#Isolate for Canadian Cases by Province

can_cases = cases_df.loc[cases_df["Country/Region"]=="Canada"]
can_cases = can_cases.drop([41,42,52])
can_cases = can_cases.rename(columns={"Province/State":"Province"})
can_cases =can_cases.drop(['Lat','Long', 'Country/Region'], axis=1)

can_cases

,Province,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,12/2/20,12/3/20,12/4/20,12/5/20,12/6/20,12/7/20,12/8/20,12/9/20,12/10/20,12/11/20
39,Alberta,0,0,0,0,0,0,0,0,0,...,61169,63023,64851,66730,68566,70301,72028,73488,75054,76792
40,British Columbia,0,0,0,0,0,0,1,1,1,...,34728,35422,36132,36132,36132,38152,38718,39337,40060,40797
43,Manitoba,0,0,0,0,0,0,0,0,0,...,17384,17751,18069,18423,18806,19131,19376,19655,19947,20392
44,New Brunswick,0,0,0,0,0,0,0,0,0,...,514,520,528,530,534,536,541,542,546,554
45,Newfoundland and Labrador,0,0,0,0,0,0,0,0,0,...,340,340,343,347,351,351,352,353,354,355
46,Northwest Territories,0,0,0,0,0,0,0,0,0,...,15,15,15,15,15,15,15,15,15,20
47,Nova Scotia,0,0,0,0,0,0,0,0,0,...,1332,1343,1358,1364,1368,1376,1383,1389,1393,1402
48,Nunavut,0,0,0,0,0,0,0,0,0,...,193,198,206,214,216,219,220,229,229,245
49,Ontario,0,0,0,0,1,1,1,1,1,...,123639,125233,127130,128997,130962,132736,134605,136599,138529,140320
50,Prince Edward Island,0,0,0,0,0,0,0,0,0,...,72,72,73,73,80,84,84,84,84,84
51,Quebec,0,0,0,0,0,0,0,0,0,...,145062,146532,147877,149908,151599,153176,154740,156468,158310,160023
53,Saskatchewan,0,0,0,0,0,0,0,0,0,...,8982,9244,9527,9730,10139,10412,10597,10899,11223,11475
54,Yukon,0,0,0,0,0,0,0,0,0,...,50,51,54,54,54,57,58,58,58,58

In [4]:
#Transpose data to have Provinces in columns and groupby Month
can_cases = can_cases.transpose()


columns= can_cases.iloc[0].values
can_cases.columns=columns
can_cases.drop('Province', axis =0, inplace=True)
can_cases.reset_index(inplace =True)
can_cases.rename(columns = {"index":"Date"}, inplace=True)

can_cases

,Date,Alberta,British Columbia,Manitoba,New Brunswick,Newfoundland and Labrador,Northwest Territories,Nova Scotia,Nunavut,Ontario,Prince Edward Island,Quebec,Saskatchewan,Yukon
0,1/22/20,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1/23/20,0,0,0,0,0,0,0,0,0,0,0,0,0
2,1/24/20,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1/25/20,0,0,0,0,0,0,0,0,0,0,0,0,0
4,1/26/20,0,0,0,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,12/7/20,70301,38152,19131,536,351,15,1376,219,132736,84,153176,10412,57
321,12/8/20,72028,38718,19376,541,352,15,1383,220,134605,84,154740,10597,58
322,12/9/20,73488,39337,19655,542,353,15,1389,229,136599,84,156468,10899,58
323,12/10/20,75054,40060,19947,546,354,15,1393,229,138529,84,158310,11223,58
324,12/11/20,76792,40797,20392,554,355,20,1402,245,140320,84,160023,11475,58

In [5]:
# Format data into table

can_cases=can_cases.set_index('Date').stack().reset_index()
can_cases.rename(columns={'level_1': 'Province', 0:'No_Cases'}, inplace=True)
can_cases['Date_dt']=pd.to_datetime(can_cases["Date"], format='%m/%d/%y')

can_cases = can_cases[["Date_dt", "Province", "No_Cases"]]
can_cases

        Date_dt                   Province No_Cases
0    2020-01-22                    Alberta        0
1    2020-01-22           British Columbia        0
2    2020-01-22                   Manitoba        0
3    2020-01-22              New Brunswick        0
4    2020-01-22  Newfoundland and Labrador        0
...         ...                        ...      ...
4220 2020-12-11                    Ontario   140320
4221 2020-12-11       Prince Edward Island       84
4222 2020-12-11                     Quebec   160023
4223 2020-12-11               Saskatchewan    11475
4224 2020-12-11                      Yukon       58

[4225 rows x 3 columns]

In [11]:
# Load data into SQL

engine = create_engine('postgresql+psycopg2://cggjytcd:2Lf6GkD0Cb8TbV6e4-X7ZBCvNMh_zV3F@raja.db.elephantsql.com:5432/cggjytcd')
can_cases.to_sql(name='can_cases', con=engine, if_exists='append' index=False)

OperationalError: (psycopg2.OperationalError) FATAL:  too many connections for role "cggjytcd"

(Background on this error at: http://sqlalche.me/e/13/e3q8)

### Global COVID-19 Cases

In [6]:
#Global Cases

global_cases = cases_df.drop(['Lat','Long', 'Province/State'], axis=1)
global_cases = global_cases.rename(columns={"Country/Region":"Country"})

global_cases

#Transpose data to have Provinces in columns and groupby Month
global_cases = global_cases.transpose()


columns= global_cases.iloc[0].values
global_cases.columns=columns
global_cases.drop('Country', axis =0, inplace=True)
global_cases.reset_index(inplace =True)
global_cases.rename(columns = {"index":"Date"}, inplace=True)

global_cases

,Date,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
0,1/22/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1/23/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2,0,0,0,0
2,1/24/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2,0,0,0,0
3,1/25/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2,0,0,0,0
4,1/26/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,12/7/20,47516,43683,88825,7084,15648,146,1466309,142344,117,...,1737960,7505,74053,1,104904,1367,99758,2383,17931,10839
321,12/8/20,47716,44436,89416,7127,15729,146,1469919,142928,117,...,1750241,7806,74206,1,105384,1377,101109,2078,17963,10912
322,12/9/20,47851,45188,90014,7162,15804,146,1475222,144066,117,...,1766819,8104,74352,1,105852,1381,102992,2079,18062,11007
323,12/10/20,48053,46061,90579,7190,15925,146,1482216,145240,117,...,1787783,8487,74498,1,106280,1385,104879,2081,18091,11081
324,12/11/20,48116,46863,91121,7236,16061,147,1489328,146317,117,...,1809455,8849,74811,1,106715,1391,106622,2082,18161,11162

In [7]:
# Format Global Data into Table

global_cases=global_cases.set_index('Date').stack().reset_index()
global_cases.rename(columns={'level_1': 'Country Name', 0:'No_Cases'}, inplace=True)
global_cases['Date_dt']=pd.to_datetime(global_cases["Date"], format='%m/%d/%y')
global_cases

           Date        Country Name No_Cases    Date_dt
0       1/22/20         Afghanistan        0 2020-01-22
1       1/22/20             Albania        0 2020-01-22
2       1/22/20             Algeria        0 2020-01-22
3       1/22/20             Andorra        0 2020-01-22
4       1/22/20              Angola        0 2020-01-22
...         ...                 ...      ...        ...
88070  12/11/20             Vietnam     1391 2020-12-11
88071  12/11/20  West Bank and Gaza   106622 2020-12-11
88072  12/11/20               Yemen     2082 2020-12-11
88073  12/11/20              Zambia    18161 2020-12-11
88074  12/11/20            Zimbabwe    11162 2020-12-11

[88075 rows x 4 columns]

In [8]:
# Groupby Country Name and Date_dt

global_cases = global_cases.groupby(['Country Name', 'Date_dt']).sum()
global_cases = global_cases.reset_index()
global_cases = global_cases[["Date_dt", "Country Name", "No_Cases"]]

global_cases

         Date_dt Country Name  No_Cases
0     2020-01-22  Afghanistan         0
1     2020-01-23  Afghanistan         0
2     2020-01-24  Afghanistan         0
3     2020-01-25  Afghanistan         0
4     2020-01-26  Afghanistan         0
...          ...          ...       ...
62070 2020-12-07     Zimbabwe     10839
62071 2020-12-08     Zimbabwe     10912
62072 2020-12-09     Zimbabwe     11007
62073 2020-12-10     Zimbabwe     11081
62074 2020-12-11     Zimbabwe     11162

[62075 rows x 3 columns]

In [ ]:
# Load data into SQL