# Question:
How has COVID-19 impacted different demographics in Canada? Which demographic groups are at a higher risk of developing a severe illness from COVID-19 in Canada?

In [26]:
# Dependencies and Setup
import os
import csv
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np
%matplotlib inline
from sqlalchemy import create_engine

In [27]:
#Stats Canada Provides Demographic data based on total infections between demographics 
#and hospitalizations rates so pulling all this data.

TotalCases = os.path.join("Resources/Total Cases.csv")
Demographic_Data = os.path.join("Resources/Demographic Data.csv")
Demographic_Data_Deceased = os.path.join("Resources/Demographic Data for deceased.csv")
Demographic_Data_Hospitalized = os.path.join("Resources/Demographic Data for Hospitalization.csv")
Demographic_Data_ICU = os.path.join("Resources/Demographic Data Admited ICU.csv")

Total_Cases = pd.read_csv(TotalCases)
Infection_Demo = pd.read_csv(Demographic_Data, thousands=',')
Deceased_Demo = pd.read_csv(Demographic_Data_Deceased, thousands=',')
Hospitalized_Demo = pd.read_csv(Demographic_Data_Hospitalized, thousands=',')
ICU_Demo = pd.read_csv(Demographic_Data_ICU)

ICU_Demo

,Age group (years),Number of cases with case reports (proportion),Number of male cases (ICU),Number of female cases (ICU),Number of other cases (ICU)
0,0-19,53,30,23,0
1,20-29,142,65,77,0
2,30-39,236,136,100,0
3,40-49,432,269,163,0
4,50-59,894,582,312,0
5,60-69,"1,271",860,411,0
6,70-79,"1,208",780,428,0
7,80+,679,369,310,0

In [28]:
Merge_1 = pd.merge(Infection_Demo,Deceased_Demo,how="right", on=["Age group (years)"])
Merge_2 = pd.merge(Merge_1,Hospitalized_Demo,how="right", on=["Age group (years)"])
All_data = pd.merge(Merge_2,ICU_Demo,how="right", on=["Age group (years)"])

All_data

,Age group (years),Number of cases with case reports (proportion)_x,Number of male cases (proportion),Number of female cases (proportion),Number of other cases (proportion),Number of cases with case reports (proportion)_y,Number of male cases (Deceased),Number of female cases (Deceased),Number of other cases (Deceased),Number of cases with case reports (proportion)_x,Number of male cases (Hospitalized),Number of female cases (Hospitalized),Number of other cases (Hospitalized),Number of cases with case reports (proportion)_y,Number of male cases (ICU),Number of female cases (ICU),Number of other cases (ICU)
0,0-19,62669,32081,30426,5,3,2,1,0,376,183,193,0,53,30,23,0
1,20-29,75357,37757,37361,4,15,10,5,0,794,312,482,0,142,65,77,0
2,30-39,62728,30581,31981,2,29,21,8,0,1274,606,668,0,236,136,100,0
3,40-49,58985,27404,31424,5,79,51,28,0,1809,1039,770,0,432,269,163,0
4,50-59,54342,26051,28187,2,317,181,136,0,3178,1914,1263,1,894,582,312,0
5,60-69,34503,17769,16667,2,935,588,347,0,4195,2538,1657,0,"1,271",860,411,0
6,70-79,21302,10550,10712,1,2379,1392,987,0,5334,2972,2362,0,"1,208",780,428,0
7,80+,35275,11832,23328,0,9153,3861,5292,0,8506,3781,4725,0,679,369,310,0

In [29]:
All_data = All_data.rename(columns={"Number of male cases (proportion)": "Male Cases",
                                    "Number of female cases (proportion)":"Female Cases",
                                    "Number of male cases (Deceased)": "Male Deaths",
                                    "Number of female cases (Deceased)": "Female Deaths",
                                    "Number of male cases (Hospitalized)": "Male Hospitlization",
                                    "Number of female cases (Hospitalized)": "Female Hospitalization",
                                    "Number of male cases (ICU)": "Male Admitted to ICU",
                                    "Number of female cases (ICU)": "Female Admitted to ICU"})
All_data

,Age group (years),Number of cases with case reports (proportion)_x,Male Cases,Female Cases,Number of other cases (proportion),Number of cases with case reports (proportion)_y,Male Deaths,Female Deaths,Number of other cases (Deceased),Number of cases with case reports (proportion)_x,Male Hospitlization,Female Hospitalization,Number of other cases (Hospitalized),Number of cases with case reports (proportion)_y,Male Admitted to ICU,Female Admitted to ICU,Number of other cases (ICU)
0,0-19,62669,32081,30426,5,3,2,1,0,376,183,193,0,53,30,23,0
1,20-29,75357,37757,37361,4,15,10,5,0,794,312,482,0,142,65,77,0
2,30-39,62728,30581,31981,2,29,21,8,0,1274,606,668,0,236,136,100,0
3,40-49,58985,27404,31424,5,79,51,28,0,1809,1039,770,0,432,269,163,0
4,50-59,54342,26051,28187,2,317,181,136,0,3178,1914,1263,1,894,582,312,0
5,60-69,34503,17769,16667,2,935,588,347,0,4195,2538,1657,0,"1,271",860,411,0
6,70-79,21302,10550,10712,1,2379,1392,987,0,5334,2972,2362,0,"1,208",780,428,0
7,80+,35275,11832,23328,0,9153,3861,5292,0,8506,3781,4725,0,679,369,310,0

In [33]:
Demographic_Data = All_data[["Age group (years)","Male Cases", "Female Cases", "Male Hospitlization", "Female Hospitalization",
                                 "Male Admitted to ICU","Female Admitted to ICU","Male Deaths","Female Deaths"]]
Final_df = Demographic_Data.rename(columns={"Age group (years)" : "Age_Groups",
                                            "Male Cases" : "Male_Cases",
                                            "Female Cases" : "Female_Cases",
                                            "Male Hospitlization" : "Male_Hospitlization",
                                            "Female Hospitlization" : "Female_Hospitlization",
                                            "Male Admitted to ICU" : "Male_ICU",
                                            "Female Admitted to ICU" : "Female_ICU",
                                            "Male Deaths" : "Male_Deaths",
                                            "Female Deaths" : "Female_Deaths"
                                           })
Final_df.head()

,Age_Groups,Male_Cases,Female_Cases,Male_Hospitlization,Female Hospitalization,Male_ICU,Female_ICU,Male_Deaths,Female_Deaths
0,0-19,32081,30426,183,193,30,23,2,1
1,20-29,37757,37361,312,482,65,77,10,5
2,30-39,30581,31981,606,668,136,100,21,8
3,40-49,27404,31424,1039,770,269,163,51,28
4,50-59,26051,28187,1914,1263,582,312,181,136

In [39]:
# Load data into SQL

engine = create_engine('postgresql+psycopg2://cggjytcd:2Lf6GkD0Cb8TbV6e4-X7ZBCvNMh_zV3F@raja.db.elephantsql.com:5432/cggjytcd')
Final_df.to_sql(name='can_demo', con=engine, if_exists='replace', index=False)

OperationalError: (psycopg2.OperationalError) FATAL:  too many connections for role "cggjytcd"

(Background on this error at: http://sqlalche.me/e/13/e3q8)